# Datos Estructurados
* Numericos
  * Discretos
  * Continuos
* Categoricos
  * Binarios
  * Ordinales

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Bedu/Fase3/Datasets/melbourne_housing-clean.csv',index_col = 0)

In [ ]:
df.head()

       suburb           address  ...            region_name property_count
0  Abbotsford      85 Turner St  ...  Northern Metropolitan         4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan         4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan         4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan         4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan         4019.0

[5 rows x 19 columns]

In [ ]:
df['price'].mean()

1068141.895071269

In [ ]:
df['price'].median()

895500.0

In [ ]:
def promedio_custom(serie):
    return serie.sum() / serie.count()

In [ ]:
def mediana_custom(serie):
    import numpy as np
    
    serie_ordenada = serie.sort_values(ascending=True)
    length_of_series = serie.count()
 
    if length_of_series % 2 == 0:
        bottom =int(length_of_series / 2)
        top = int(bottom + 1)
        return (serie_ordenada.iloc[bottom] + serie_ordenada.iloc[top]) / 2
    else:
        index = int(np.ceil(length_of_series / 2))
        return serie_ordenada.iloc[index]

In [ ]:
import pandas as pd
df_meteoritos = pd.read_csv('/content/drive/MyDrive/Bedu/Fase3/Datasets/near_earth_objects-jan_feb_1995-clean.csv', index_col=0)

In [ ]:
df_meteoritos.head()

        id  ... relative_velocity.kilometers_per_hour
0  2154652  ...                          58114.308667
1  3153509  ...                          44463.757734
2  3516633  ...                          22393.567277
3  3837644  ...                          80923.015021
4  3843493  ...                          17995.288355

[5 rows x 10 columns]

In [ ]:
promedio_diametro = promedio_custom(df_meteoritos['estimated_diameter.meters.estimated_diameter_max'])
promedio_diametro

410.08604223976545

In [ ]:
mediana_diametro = mediana_custom(df_meteoritos['estimated_diameter.meters.estimated_diameter_max'])
mediana_diametro

215.7943048444

In [ ]:
#Valores Atipicos
from scipy import stats

In [ ]:
#Duck Typing

stats.trim_mean(df['price'],0.15) #El porsentaje es lo que se toma al inicio y al final

953850.9298503802

In [ ]:
df['price'].std()

643728.1914372866

In [ ]:
df['price'].max()

9000000.0

In [ ]:
df['price'].min()

85000.0

In [ ]:
df['price'].max() - df['price'].min()

8915000.0